{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
    <h2>
        <a href="{{ path('app_product_index') }}">Product</a>
    </h2>
{% endblock %}
